#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.column {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.row {
  padding: 0 2em;
  display: flex;
}

.text-input {
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 20px;
  margin: auto 10px;
}

.read-the-docs {
  color: white;
  margin-top: 60px;
  padding-top: 6px;
  font-size: 14px;
  border-top: 1px solid white;
}

.btn-navigation {
  margin: auto 10px;
  padding: 20px 100px;
}

.error-message {
  color: wheat;
  font-size: 16px;
  text-align: end;
  margin-right: 10px;
  margin-top: 4px;
}

.text-loading {
  margin-top: 24px;
  font-size: 16px;
  color: white;
}
